.expenses-filter {
    color: #263445;
    padding: 0 1rem;
  }
  
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }

  button{
    background:none;
    border:none;
    font-size:1em;
    padding:5px 10px;
  }

  button:focus{
    background:#EE3508;
    color:white;
    border-radius:4px;
  }
