@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Khula', sans-serif;
}

body {
  margin: 0;
  background-color: #263445;
}